<web-app>
<context-param>
<param-name>drivername </param-name>
<param-value>com.mysql.jdbc.Driver</param-value>
</context-param>
<context-param>
<param-name>url </param-name>
<param-value>jdbc:mysql://localhost:8080/Project/Bug Tracking System/MySql</param-value>
</context-param>
<context-param>
<param-name>username</param-name>
<param-value>root</param-value>
</context-param>
<context-param>
<param-name>password </param-name>
<param-value>igen</param-value>
</context-param>
<servlet>
<servlet-name>Reg</servlet-name>
<servlet-class>Reg</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Reg</servlet-name>
<url-pattern>/Reg</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Employee</servlet-name>
<servlet-class>Employee</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Employee</servlet-name>
<url-pattern>/Employee</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>Admin</servlet-name>
<servlet-class>Admin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Admin</servlet-name>
<url-pattern>/Admin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AddDepartment</servlet-name>
<servlet-class>AddDepartment</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddDepartment</servlet-name>
<url-pattern>/AddDept</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AssignBug</servlet-name>
<servlet-class>AssignBug</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AssignBug</servlet-name>
<url-pattern>/AssignBug</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateBugReport</servlet-name>
<servlet-class>UpdateBugReport</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateBugReport</servlet-name>
<url-pattern>/UpdateBugReport</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateBugReport1</servlet-name>
<servlet-class>UpdateBugReport1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateBugReport1</servlet-name>
<url-pattern>/UpdateBugReport1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteDepartment</servlet-name>
<servlet-class>DeleteDepartment</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteDepartment</servlet-name>
<url-pattern>/DeleteDept</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateDepartment</servlet-name>
<servlet-class>UpdateDepartment</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateDepartment</servlet-name>
<url-pattern>/UpdateDept</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateEmploye</servlet-name>
<servlet-class>UpdateEmploye</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateEmploye</servlet-name>
<url-pattern>/UpdateEmp</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>DeleteEmployee</servlet-name>
<servlet-class>DeleteEmployee</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteEmployee</servlet-name>
<url-pattern>/DeleteEmp</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>AddProject</servlet-name>
<servlet-class>AddProject</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AddProject</servlet-name>
<url-pattern>/AddProj</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>DeleteProject</servlet-name>
<servlet-class>DeleteProject</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>DeleteProject</servlet-name>
<url-pattern>/DelProj</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateProject</servlet-name>
<servlet-class>UpdateProject</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateProject</servlet-name>
<url-pattern>/UpdProj</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>UpdateProfile</servlet-name>
<servlet-class>UpdateProfile</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>UpdateProfile</servlet-name>
<url-pattern>/UpdateProfile</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>RecChngPwdServ</servlet-name>
<servlet-class>RecChngPwdServ</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>RecChngPwdServ</servlet-name>
<url-pattern>/pchange</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>AssignProject</servlet-name>
<servlet-class>AssignProject</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AssignProject</servlet-name>
<url-pattern>/AssignProject</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>employeepermission</servlet-name>
<servlet-class>employeepermission</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>employeepermission</servlet-name>
<url-pattern>/employeepermission</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>solution</servlet-name>
<servlet-class>solution</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>solution</servlet-name>
<url-pattern>/solution</url-pattern>
</servlet-mapping>


<welcome-file-list>
  <welcome-file>Home.jsp</welcome-file>
</welcome-file-list>
</web-app>